In [17]:
import pandas as pd 

uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'
dados = pd.read_csv(uri)
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [18]:
a_renomear = {
    'mileage_per_year' : 'milhas_por_ano',
    'model_year' : 'ano_do_modelo',
    'price' : 'preco',
    'sold' : 'vendido'
}

dados.rename(columns=a_renomear, inplace=True)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco vendido
0           0           21801           2000   30941.02     yes
1           1            7843           1998   40557.96     yes
2           2            7109           2006   89627.50      no
3           3           26823           2015   95276.14      no
4           4            7935           2014  117384.68     yes

In [19]:
a_trocar = {
    'no' : 0,
    'yes' : 1
}

dados.vendido  = dados.vendido.map(a_trocar)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco  vendido
0           0           21801           2000   30941.02        1
1           1            7843           1998   40557.96        1
2           2            7109           2006   89627.50        0
3           3           26823           2015   95276.14        0
4           4            7935           2014  117384.68        1

In [20]:
from datetime import datetime

ano_atual = datetime.today().year

dados['idade_do_modelo'] = ano_atual - dados.ano_do_modelo
dados.head()

   Unnamed: 0  milhas_por_ano  ...  vendido  idade_do_modelo
0           0           21801  ...        1               20
1           1            7843  ...        1               22
2           2            7109  ...        0               14
3           3           26823  ...        0                5
4           4            7935  ...        1                6

[5 rows x 6 columns]

In [21]:
dados['km_por_ano'] = dados.milhas_por_ano * 1.60934
dados.head()

   Unnamed: 0  milhas_por_ano  ...  idade_do_modelo   km_por_ano
0           0           21801  ...               20  35085.22134
1           1            7843  ...               22  12622.05362
2           2            7109  ...               14  11440.79806
3           3           26823  ...                5  43167.32682
4           4            7935  ...                6  12770.11290

[5 rows x 7 columns]

In [22]:
dados.drop(columns=['Unnamed: 0', 'milhas_por_ano', 'ano_do_modelo'], inplace=True)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               20  35085.22134
1   40557.96        1               22  12622.05362
2   89627.50        0               14  11440.79806
3   95276.14        0                5  43167.32682
4  117384.68        1                6  12770.11290

In [31]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

x = dados[['preco', 'idade_do_modelo', 'km_por_ano']]
y = dados.vendido

SEED = 5
np.random.seed(SEED)

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, 
                                                        test_size = 0.25,
                                                       stratify = y)
print(f'Treino será realizado com {len(treino_x)} e teste com {len(teste_x)} elementos')

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {taxa_de_acerto*100 :0.2f}%')

Treino será realizado com 7500 e teste com 2500 elementos
A acurácia foi de 58.00%

In [36]:
from sklearn.dummy import DummyClassifier

dummy_statified = DummyClassifier()
dummy_statified.fit(treino_x, treino_y)
acuracia = dummy_statified.score(teste_x, teste_y)

print(f'A acurácia do Dummy stratified foi de {acuracia*100 :0.2f}%')

A acurácia do Dummy stratified foi de 51.08%

In [38]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

raw_treino_x, raw_teste_x, treino_y, teste_y  = train_test_split(x,y, test_size = 0.25, stratify = y)

print(f'Treino será realizado com {len(raw_treino_x)} e teste com {len(raw_teste_x)} elementos')

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = SVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {acuracia*100 :0.2f}%')

Treino será realizado com 7500 e teste com 2500 elementos
A acurácia foi de 76.92%

In [41]:
from sklearn.tree import DecisionTreeClassifier

raw_treino_x, raw_teste_x, treino_y, teste_y  = train_test_split(x,y, test_size = 0.25, stratify = y)

print(f'Treino será realizado com {len(raw_treino_x)} e teste com {len(raw_teste_x)} elementos')

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = DecisionTreeClassifier()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de {acuracia*100 :0.2f}%')

Treino será realizado com 7500 e teste com 2500 elementos
A acurácia foi de 71.08%

In [43]:
from sklearn.tree import export_graphviz
import graphviz

dot_data = export_graphviz(modelo)
grafico = graphviz.Source(dot_data)

ModuleNotFoundError: No module named 'graphviz'